CONFIG_INSMOD=y
CONFIG_LSMOD=y
CONFIG_RMMOD=y
CONFIG_MODPROBE=y
CONFIG_DEPMOD=y
CONFIG_IP=y
CONFIG_FEATURE_IP_ADDRESS=y
CONFIG_FEATURE_IP_LINK=y
CONFIG_FEATURE_IP_ROUTE=y
CONFIG_FEATURE_IP_TUNNEL=y
CONFIG_PING=y
CONFIG_UDHCPC=y
CONFIG_DD=y
CONFIG_GREP=y
CONFIG_HEXDUMP=y
CONFIG_OD=y
CONFIG_TIMEOUT=y
