CONFIG_BLK_DEV_INITRD=y
# CONFIG_MMU is not set
CONFIG_SOC_ESP32P4=y
CONFIG_NONPORTABLE=y
CONFIG_ARCH_RV32I=y
CONFIG_BINFMT_FLAT=y
CONFIG_SLOB=y
# CONFIG_SMP is not set
CONFIG_PRINTK_TIME=y
CONFIG_HZ_100=y
CONFIG_DEVTMPFS=y
CONFIG_SERIAL_ESP32_ACM=y
CONFIG_CMDLINE="earlycon=esp32p4usb,mmio,0x500d2000 console=ttyGS0,115200 loglevel=8 rdinit=/init"
CONFIG_CMDLINE_FORCE=y
