BR2_riscv=y
BR2_riscv_custom=y
BR2_RISCV_ISA_RVM=y
BR2_RISCV_ISA_RVA=y
BR2_RISCV_32=y
# BR2_RISCV_USE_MMU is not set
BR2_RISCV_ISA_RVC=y
# BR2_RISCV_ISA_RVF is not set
# BR2_RISCV_ISA_RVD is not set
BR2_RISCV_ABI_ILP32=y
BR2_PACKAGE_HOST_LINUX_HEADERS_CUSTOM_6_12=y
BR2_TOOLCHAIN_BUILDROOT_UCLIBC=y
BR2_GLOBAL_PATCH_DIR="board/qemu/patches $(BR2_EXTERNAL_MICRONUX_PATH)/board/micronux/patches"
BR2_DOWNLOAD_FORCE_CHECK_HASHES=y
BR2_REPRODUCIBLE=y
BR2_TARGET_GENERIC_HOSTNAME="micronux"
BR2_TARGET_GENERIC_ISSUE="MicroNUX M4 on ESP32-P4"
BR2_INIT_NONE=y
BR2_ROOTFS_DEVICE_CREATION_STATIC=y
BR2_ROOTFS_OVERLAY="$(BR2_EXTERNAL_MICRONUX_PATH)/board/micronux/rootfs-m4"
BR2_PACKAGE_BUSYBOX_CONFIG_FRAGMENT_FILES="board/canaan/k210-soc/busybox-tiny.config $(BR2_EXTERNAL_MICRONUX_PATH)/board/micronux/busybox-m1.config $(BR2_EXTERNAL_MICRONUX_PATH)/board/micronux/busybox-m3.config $(BR2_EXTERNAL_MICRONUX_PATH)/board/micronux/busybox-m4.config"
# BR2_PACKAGE_IFUPDOWN_SCRIPTS is not set
BR2_LINUX_KERNEL=y
BR2_LINUX_KERNEL_CUSTOM_VERSION=y
BR2_LINUX_KERNEL_CUSTOM_VERSION_VALUE="6.12.27"
BR2_LINUX_KERNEL_USE_CUSTOM_CONFIG=y
BR2_LINUX_KERNEL_CUSTOM_CONFIG_FILE="$(BR2_EXTERNAL_MICRONUX_PATH)/board/micronux/linux-m4.config"
BR2_LINUX_KERNEL_DTS_SUPPORT=y
BR2_LINUX_KERNEL_CUSTOM_DTS_DIR="$(BR2_EXTERNAL_MICRONUX_PATH)/board/micronux/dts-m4"
BR2_TARGET_ROOTFS_INITRAMFS=y
